In [34]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.15.3-py2.py3-none-any.whl (636 kB)
     |████████████████████████████████| 636 kB 563 kB/s eta 0:00:01
Requirement already satisfied: nltk>=3.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from textblob) (3.4.5)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from nltk>=3.1->textblob) (1.11.0)
Installing collected packages: textblob
Successfully installed textblob-0.15.3

In [35]:
import pandas as pd

from textblob import TextBlob

___

To do: Pre-processing

____

In [24]:
df = pd.read_json('data/total_data_2.json')

In [25]:
try:
    df = df.drop('Unnamed: 0', axis = 1)
except:
    pass

In [27]:
df.head(2)

,title,url,date,transcript,source
0,16-Year-Old Has Been Using His Flying Lessons ...,https://www.goodnewsnetwork.org/teen-flies-sup...,2020-04-09,16-year-old TJ Kim may not have his driver’s l...,goodnewsnetwork.org
1,Tyler Perry Picks Up the Tab for All Groceries...,https://www.goodnewsnetwork.org/tyler-perry-pa...,2020-04-09,It’s not uncommon for movie mogul Tyler Perry ...,goodnewsnetwork.org

In [38]:
df['transcript'][0]

'16-year-old TJ Kim may not have his driver’s license yet, but he has been flying planes all over Virginia in order to deliver medical supplies to rural hospitals fighting the novel coronavirus.\n\nThe teen, who is a sophomore at Landon School in Bethesda, Maryland, was inspired to embark on his delivery missions after his classes were canceled as a result of COVID-19.\n\nWithout school or lacrosse to occupy his time, he turned his focus on his flying lessons.\n\nRELATED: Man Uses His Savings to Fill Up Gas Tanks For Dozens of Nurses Heading to Nearby Hospital\n\nAccording to The Associated Press, Kim and his family then launched their Operation SOS (Supplies Over Skies) project as a means of keeping busy during the shutdowns while simultaneously serving others in need by delivering supplies to rural hospitals.\n\nWhen Kim first asked his flight instructor, Dave Powell, to use their flying lessons as delivery runs for Virginia hospitals, the pilot was awestruck.\n\nLOOK: College Student Has Been Sewing Free Face Masks For Communicating With Hearing-Impaired Folks\n\n“For TJ to be more concerned with the needs of others in his melancholy state just reiterated to me how amazing this young man is,” Powell told The AP.\n\nSince the young man delivered his first batch of medical gowns, masks, sanitizer, and shoe covers to a 25-bed hospital in Luray on March 27th, he has continued to go on weekly flights to other critical access hospitals—and the healthcare workers have greatly appreciated the support.\n\nThis is just one of many positive stories and updates that are coming out of the COVID-19 news coverage this week. For more uplifting coverage on the outbreaks, click here.\n\n(WATCH the interview below) – Feature photo by Thomas Kim\n\nFly This Inspiring Story Over To Your Friends By Sharing It To Social Media…'

In [48]:
def calculate_polarity(row):
    return TextBlob(row).sentiment.polarity
    
df['polarity'] = df['transcript'].apply(calculate_polarity)

In [50]:
def calculate_subjectivity(row):
    return TextBlob(row).sentiment.subjectivity
    
df['subjectivity'] = df['transcript'].apply(calculate_subjectivity)

___

In [58]:
df[['polarity', 'subjectivity']].describe()

          polarity  subjectivity
count  1062.000000   1062.000000
mean      0.135837      0.379028
std       0.178191      0.211292
min      -0.133333      0.000000
25%       0.041512      0.349414
50%       0.108415      0.431195
75%       0.171805      0.484475
max       1.000000      0.900000

**Percentage of Articles with polarity `< 0`**

In [59]:
(len(df.loc[df['polarity'] < 0]) * 100)/len(df)

2.354048964218456

In [62]:
(len(df.loc[df['polarity'] > 0]) * 100)/len(df)

78.71939736346516

___